- name: Check Homebrew Installation
  ansible.builtin.command:
    cmd: brew --version
  register: brew_check
  changed_when: false
  failed_when: false

- name: Install Homebrew
  when: brew_check.rc != 0
  block:
    - name: Pre-authenticate sudo
      ansible.builtin.command:
        cmd: sudo -v
      become: true
      changed_when: false

    - name: Run Homebrew Installation Script
      changed_when: brew_check.rc != 0
      ansible.builtin.shell:
        cmd: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      environment:
        NONINTERACTIVE: "1"
